<h2>Climecloud</h1><br />
Dumbfone utilities dashboard<br />
<br />
<div align = "enter">
    <%=link_to "Weather forecast", "/forecast/hourly" %><br /><br />
    <%=link_to "Map directions", "/directions/search" %><br /><br />
    <%=link_to "News", "https://68k.news/index.php?section=national&loc=#{cookies[:country_code]}" %><br /><br />
    <%=link_to "Change settings", "/settings" %><br /><br />
</div>    