<h2>Climecloud</h1><br />
<b>Dumbphone utilities dashboard</b><br />
<br />

    <%=link_to "Weather forecast", "/forecast/hourly" %><br /><br />
    <%=link_to "Map directions", "/directions" %><br /><br />
    <%=link_to "News", "/news" %><br /><br />
    <%=link_to "Change settings", "/settings", :class=>'change-settings' %><br /><br />
  