<h1>News headlines</h1>
<div class="news">
    <% @news_items.each do |item| %>
            <b><%= item[:item_title] %></b><br />
            <ul>
            <% item[:articles].each do |article| %>
                <%= link_to article[:article_title], news_article_path(article: article[:article_url]) %>
            <% end %>
            </ul>
            <br />
    <% end %>
</div>